@page
@model DormantModel
@{
    ViewData["Title"] = "Dormant Account";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Due to inactiviy for a long period, this account has been marked as dormant, please contact your LAM or Administrator.</p>
</header>
