@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Please check your email to reset your password.
@*     Normally this would be emailed: <a id="confirm-link" href="@Model.ForgotPasswordConfirmation">Click here to confirm your account</a> *@
</p>
