 
@page
@model PassAuthWebApp_.Areas.Identity.Pages.Account.PasswordExpiredModel
@{
    ViewData["Title"] = "Password Expired";
}

<h2>Password Expired</h2>
<p>@Model.Message</p>
<p>Please <a href="/Account/ResetPassword">reset your password</a> to continue using the application.</p>

@* @page
 @model PassAuthWebApp_.Areas.Identity.Pages.Account.PasswordExpiredModel
 @{
     ViewData["Title"] = "Password Expired";
 }

 <h2>Password Expired</h2>
 <p>Your password has expired. Please <a href="@Model.ResetPasswordUrl">reset your password</a> to continue using the application.</p> *@